<!DOCTYPE html>
<html>
  <head>
    <title>MyComponents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= notice %>
      <%= alert %>

      <% if current_user %>
        <%= link_to current_user.username, '#' %>
        <%= button_to "Log out", logout_path, method: :delete %>
      <% else %>
        <%= button_to "Log in via Github", user_github_omniauth_authorize_path, method: :post, data: { turbo: false } %>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
